# Ignore AIWolf completely
aiwolf_analysis/

# Ignore Werewolf Data/Models (Large files)
werebench_persuasion/data/
werebench_persuasion/models/
werebench_persuasion/outputs/

data/lai2023

logs/
slurm_files/
unsloth_compiled_cache/
results/voting/openai_gpt-oss-20b/prompt_v1
results/voting/openai_gpt-oss-20b/prompt_v2
results/voting/google_gemma-4-31B-it/prompt_v2_8bit
results/voting/google_gemma-4-31B-it
results/voting/openai_gpt-oss-20b
results/voting/unsloth_gemma-4-31B-it-unsloth-bnb-4bit/prompt_v3
results/voting/unsloth_gpt-oss-20b-unsloth-bnb-4bit/prompt_v3